/* 共通スタイル */
body {
    color: #707070;
    line-height: 1.7;
}

img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #707070;
}

/*ここからheader*/

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
}

.top-header {
    width: 150px;
    margin-left: 40px;
    height: 70px;
}

@media screen and (max-width: 768px) {
    .top-header {
    width: 50px;
    margin-left: 20px;
    height: 35px;
}
}

nav {
    margin-right: 40px;
}


.top-header__nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


.top-header__iteams {
    margin-right: 25px;
    color: gray;
}

@media screen and (max-width: 768px) {
    .top-header__iteams {
        margin-right: 25px;
        color: rgb(26, 20, 218);
    }
}

.top-header__iteams:last-child {
    margin-right: 0;
}


a {
    height: 70px;
    display: inline-block;
}

/*ここまでheaderここからfirstview↓*/

.firstview{
    margin-bottom:100px;
}

.relative {
    position: relative;
}

.relative img {
    margin: 0px 0px 0px auto;
    display: block;
    width: 50%;
}

.firstview__ttl{
    position: absolute;
    top: 10%;
    left: 7%;
}
@media screen and (max-width: 768px) {
    .firstview__ttl {
        position: absolute;
        top: 10%;
        left: 4%;
}}


.firstview__ttl__top{
    font-size: 100px;
    font-family: 'Nanum Pen Script',cursive;
    color:rgb(226, 43, 180);
}

@media screen and (max-width: 768px) {
    .firstview__ttl__top {
        font-size: 20px;
} }


.firstview-blue {
    color: aqua;
}

.firstvier__subttl_txt{
    color: rgb(226, 43, 180);
    font-size: 40px
}
@media screen and (max-width: 768px) {
    .firstvier__subttl_txt{
        font-size: 10px;
}}


.emphasis{
    color: aqua;
}

.firstview__subttl{
    font-size: 30px;
    color: gray;
}

@media screen and (max-width: 768px) {
    .firstview__subttl {
        font-size: 10px;
}}

/*ここまでfirstviewここからmain-news↓*/

.top-section__before-ttl{
    text-align: center;
    font-size: 20px;
    color: brown;
    font-family: 'Nanum Pen Script', cursive;
}
@media screen and (max-width: 768px) {
    .top-section__before-ttl {
        text-align: center;
        font-size: 5px;
        color: brown;
        font-family: 'Nanum Pen Script', cursive;
}}

.top-section__ttl{
    text-align: center;
    font-size: 30px;
    color:rgb(102, 101, 101)
}
@media screen and (max-width: 768px) {
    .top-section__ttl {
    text-align: center;
    font-size: 10px;
}}

.iteam{
    color: gray;
    margin: 0 auto;
    font-size: 20px;
    list-style-type: none;
    width: 700px;
    padding: 10px 30px;
}

@media screen and (max-width: 768px) {
    .iteam {
        margin:0 auto;
        color: gray;
        font-size: 5px;
        list-style-type: none;
        width: 350px;
        padding: 2px 0px;
}}

.iteam hr{
    margin: 0 auto;
}
.news-box{
    width: 100px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 0px 30px;
    background: #da37a9;
    border-radius: 20px;
    margin: 10px 10px;
}

@media screen and (max-width: 768px) {
    .news-box {
        width: 15px;
        font-size: 7px;
        color: #FFFFFF;
        padding: 0px 15px;
        background: #da37a9;
        border-radius: 20px;
        margin: 10px 10px;
}}



/*ここまでnewsここからAbout↓*/
.middle-up-section__technology{
    text-align: center;
    margin-bottom: 200px;
}


.middle-up-section__before-ttl{
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}

@media screen and (max-width: 768px) {
    .middle-up-section__before-ttl {
        margin: 0 auto;
        font-size: 10px;
        color: rgb(251, 58, 10);
        font-family: 'Nanum Pen Script', cursive
}}

.middle-up-section__ttl{
    margin-bottom:50px;
    font-size: 30px;
    color: rgb(102, 101, 101)
}

@media screen and (max-width: 768px) {
    .middle-up-section__ttl {
        font-size: 10px;
}}

.flex__contents {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.middle-up-section__l-txt{
    width:480px;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    margin-right: 50px;
}
@media screen and (max-width: 768px) {
    .middle-up-section__l-txt {
        text-align: left;
        font-size: 10px;
        padding: 10px;
        line-height: 10px;
        margin-right: 20px;
        align-items: flex-start;
}}

.middle-up-section__r-img img {
    width: 400px;
    align-items: flex-start;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .middle-up-section__r-img img {
        height: auto;
        align-items: flex-start;
        margin-left: 20px;
}}

/*ここまでAboutここからService↓*/
.middle-section__service{
    margin: 0 auto;
    margin-bottom: 150px;
    margin:10px 60px 150px;
}
@media screen and (max-width: 768px) {
    .middle-section__service {
        margin: 0 auto;
        margin-bottom: 150px;
        margin: 10px 30px 75px;
        }
}


.middle-section__before-ttl {
    margin: 0 auto;
    font-size: 20px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}



.middle-section__ttl{
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 30px;
    color: rgb(102, 101, 101)
}

@media screen and (max-width: 768px) {
    .middle-section__ttl {
        margin-bottom: 25px;
        font-size: 20px;
}}

.gridcontaner{
    max-width:1500px;
    margin:0 auto;
    font-size: 30px;
    color: #fff;
    display: grid;
    grid-template-rows: 305px 305px;
    grid-template-columns: 1fr 1fr ;
}

@media screen and (max-width: 768px) {
    .gridcontaner {
        min-width:380px;
        margin-left: 20px;
        font-size: 15px;
        color: #c784ab;
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 1fr 1fr;
    }}

.left-griditem{
    grid-column: 1/2;
    grid-row: 1/3;
    background: #ba2989;
    align-items: flex-start;
}
.left-griditem{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 50px;
}
.griditems_left{
    margin:0 auto;
}

.left-griditem img{
    width: 30%;
}

.griditem__ttl{
    text-align: left;
    padding-top: 50px;
    color: #FFFFFF;
}
#lgrid{
    text-align: center;
}
.l-griditem__txt{
    width: 500px;
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .l-griditem__txt {
        width: 200px;
        color: #FFFFFF;
}}

.griditem__txt{
    text-align: left;
    color: #FFFFFF;
}

.rightup-griditem{
    grid-column: 2/3;
    grid-row: 1/2;
    background: #e234a8;
    padding: 30px 0px;
    color: #FFFFFF;
}

.rup-griditem{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightup-griditem img{
    width: 30%;
    align-items: flex-start;
}
.rdwn-griditem{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightdwn-griditem{
    grid-column: 2/3;
    grid-row: 2/3;
    background: #f96ecb;
    padding: 30px 0px;
    color: #FFFFFF;
}

.rightdwn-griditem img{
    width: 30%;
    align-items: flex-start;
}

/*ここまでServiceここからBlog↓*/
.middle-dwn-article__blog{
    margin: 0 auto;
    margin: 10px 60px 150px;/*余白変更*/
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .middle-dwn-article__blog {
        margin: 0 auto;
        margin-bottom: 150px;
        margin: 10px 30px 75px;/*余白変更*/
    }
}

.middle-dwn-article__before-ttl {
    font-size: 20px;
    margin: 0px 0px 20px 200px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}

.middle-dwn-article__ttl{
    margin-left: 200px;
    margin-bottom: 30px;
    font-size: 30px;
    color: rgb(102, 101, 101)
}
@media screen and (max-width: 768px) {
    .middle-dwn-article__ttl {
        margin-left: 200px;
        margin-bottom: 30px;
        font-size: 15px;
        color: rgb(102, 101, 101)
}}

.practice__card-list{
    max-width: 300px;

}

.flex___item-wrap{
    max-width: 1500px;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;

}
@media screen and (max-width: 768px) {
    .flex___item-wrap {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
}}



.card__img {
    width: 60%;
    border-top-left-radius:30px;
}
@media screen and (max-width: 768px) {
    .card__img  {
        width: 30%;
        border-top-left-radius: 30px;
}}

.practice__card {
    margin: 0 auto;

}
.practice__card img{
    position: absolute;
    width: 10%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .practice__card img {
        position: absolute;
        width: 30%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        align-items: flex-start;
}}

.card__cat{
    padding: 5px 10px;
    background: #ab2774;
    display: inline-block;
    color: #fff;
    width: 40px;
    height: 20px;
    text-align: center;
    margin-bottom: 300px;
    position: relative;
    z-index: 2;
    border-top-left-radius: 20px;
}

@media screen and (max-width: 768px) {
    .card__cat {
        padding: 4px 10px;
        background: #ab2774;
        display: inline-block;
        color: #fff;
        width: 20px;
        height: 10px;
        text-align: center;
        margin-bottom: 150px;
        position: relative;
        z-index: 2;
        border-top-left-radius: 20px;
}}


.card__ttl{
    width:300px;
    font-size: 30px;
    line-height: 1.7;
    text-align: left;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .card__ttl {
        width:200px;
        font-size: 15px;
        line-height: 0.8;
        text-align: left;
        margin-bottom: 10px;
}}

.tag{
    margin: 0 auto;
}

.card__date {
    display: inline-block;
    margin-left: 20px;
    color: #888888;
}

.card__tag {
    display: inline-block;
    margin-left: 200px;
    color: #888888;
}


.middle-dwn-active__btn{
    border-radius: 100px;
    border: 3px solid #a14081;
    display: block;
    width: 20%;
    font-size: 30px;
    font-weight: bolder;
    padding: 30px 0px;
    box-sizing: border-box;
    background: #eaf2fc;
    color: #333;
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .middle-dwn-active__btn {
        border-radius: 100px;
        border: 3px solid #a14081;
        display: block;
        width: 10%;
        font-size: 5px;
        font-weight: bolder;
        padding: 30px 0 0 0;
        box-sizing: border-box;
        background: #eaf2fc;
        color: #333;
        text-align: center;
        margin: 0 auto;
}}


/*ここまでBlog
ここからCompany↓*/
.bottom-section__office{
    margin: 10px 60px 150px;/*余白変更*/
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .bottom-section__office {
        margin-bottom: 150px;
        margin: 10px 30px 75px;/*余白変更*/
    }
}

.bottom-section__before-ttl {
    font-size: 20px;
    margin: 150px 0px 20px 200px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}

.bottom-section__ttl {
    font-size: 30px;
    margin: 0px 0px 100px 200px;
    color: rgb(102, 101, 101)
}

.C-line__item-wrap{
    margin: 0 auto;
    margin-bottom: 300px;
}
@media screen and (max-width: 768px) {
    .C-line__item-wrap {
    margin: 0 auto;
    margin-bottom:100px;
}}


.bottom-section__txt  {
    font-size: 30px;
    text-align: left;
    margin: 0 auto;
    white-space: nowrap;
    border: 1px black solid
}

@media screen and (max-width: 768px) {
    .bottom-section__txt {
        font-size: 10px;
        text-align: left;
        margin: 0 auto;
}}

.bottom-section__txt th{
    font-size: 50px;
    border:1px black solid;
    padding: 20px 300px 20px 0px;
}
@media screen and (max-width: 768px) {
    .bottom-section__txt th {
        font-size: 20px;
        border: 1px black solid;
        padding: 10px 150px 10px 0px;
}}


.bottom-section__txt td {
    font-size: 50px;
    border: 1px black solid;
    padding: 20px 500px 20px 0px;
}

@media screen and (max-width: 768px) {
    .bottom-section__txt td {
        font-size: 20px;
        border: 1px black solid;
        padding: 10px 150px 10px 0px;
}}


.bottom-article__links{
    display: flex;
    margin-bottom: 150px;
}

.bottom-article__l-img{
    position: relative;
    flex-grow: 1;
}

.bottom-article__l-img img{
    width: 100%;

}

.bottom-article__l-txt{
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    left: 40%;
    bottom: 50%;
    color:#FFFFFF;
}
@media screen and (max-width: 768px) {
    .bottom-article__l-txt {
        font-size: 20px;
        color: #fff;
        position: absolute;
        left: 20%;
        bottom: 20%;
        color: #FFFFFF;
}}



#recruit{
    color: #FFFFFF;
}

.bottom-article__r-img {
    position: relative;
    flex-grow: 1;
}


.bottom-article__r-img img{
    width: 100%;

}
.bottom-article__r-txt{
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    left: 40%;
    bottom: 50%;

}

@media screen and (max-width: 768px) {
    .bottom-article__r-txt {
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        position: absolute;
        left: 20%;
        bottom: 20%;
}}

#interview{
    color:#FFFFFF;
}


/*ここまでCompanyここからContact-footer↓*/
.footer__top {
    margin: 10px 60px 150px;/*余白変更*/
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer__top {
        margin: 10px 30px 75px;/*余白変更*/
        margin: 0 auto;
        text-align: center;
    }
}

.footer__tt {
    font-size: 50px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .footer__tt {
        font-size: 20px;
        margin-bottom: 10px;
}}

.line__m {
    width: 0%;
    border:5px solid #000;
    padding: 30px 0px;
    margin: 0 auto;
}

.mail{
    margin: 100px 0px;
}

.footer__btn {
    flex-direction: row;
    font-size: 200%;
    background-color: rgb(217, 62, 170);
    color:#FFFFFF;
    width: 30%;
    padding: 20px 80px;
    border-radius: 100px;
    box-shadow: 0px 5px 5px #000;
}
#btn{
    color: #FFFFFF;
}
#buttonIconText_text{
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .footer__btn {
        flex-direction: row;
        font-size: 100%;
        background-color: rgb(217, 62, 170);
        color: #FFFFFF;
        width: 20%;
        padding: 10px 50px;
        border-radius: 100px;
        box-shadow: 0px 5px 5px #000;
        margin: 0 auto;
}}


.footer__bottom{
    text-align: center;
    margin-top: 400px;
    height: 30px;
}