body {
    width: 1500px;
}
/*ここからheader*/

.top-header img{
    width: 240px;
    height: 50px;
    margin-left: 20px;
}

.top-header {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav {
    margin: 0 0 0 auto;
    font-size: 45px;
}

.top-header__nav{
    padding:60px 30px 10px;
}

.top-header__iteams {
    display: inline;/*li横並び*/
    margin-right: 12px;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
}
/*ここまでheaderここからfirstview↓*/

.firstview{
    margin-bottom:100px;
}

.relative {
    position: relative;
}

.relative img {
    margin: 0px 0px 0px auto;
    display: block;
    width: 50%;
}

.firstview__ttl{
    position: absolute;
    top: 10%;
    left: 7%;
}

.firstview__ttl__top{
    font-size: 100px;
    font-family: 'Nanum Pen Script',cursive;
    color:rgb(226, 43, 180);
}
.firstview-blue {
    color: aqua;
}

.firstvier__subttl_txt{
    color: rgb(226, 43, 180);
    font-size: 40px
}

.emphasis{
    color: aqua;
}

.firstview__subttl{
    font-size: 30px;
    color: gray;
}
/*ここまでfirstviewここからmain-news↓*/

.top-section__before-ttl{
    margin-left: 500px;
    font-size: 20px;
    color: brown;
    font-family: 'Nanum Pen Script', cursive;
}

.top-section__ttl{
    margin: 20px 0px 30px 500px;
    font-size: 30px;
    color:rgb(102, 101, 101)
}

.line__item-wrap{
    
}
.iteam{
    color: gray;
    margin: 0px auto;
    font-size: 20px;
    list-style-type: none;
    width: 700px;
    padding: 5px 0px;
}
.iteam hr{
    padding: 2px;
}
.news-box{
    width: 100px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 0px 15px;
    background: #da37a9;
    border-radius: 20px;
    margin: 10px 20px;
}

/*ここまでnewsここからAbout↓*/
.middle-up-section__technology{
    text-align: center;
    margin-bottom: 200px;
}


.middle-up-section__before-ttl{
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}

.middle-up-section__ttl{ 
    margin-bottom:50px;
    font-size: 30px;
    color: rgb(102, 101, 101)
}

.flex__contents {
    display: flex;
    justify-content: center;
    
    
}
.middle-up-section__l-txt{
    margin:0px 150px;
    text-align: left;
    font-size: 20px;
    padding: 30px;
    line-height: 40px
}

.flex__contents img {
    width: 40%;
}

/*ここまでAboutここからService↓*/
.middle-section__service{
    margin-bottom: 150px;
}


.middle-section__before-ttl {
    font-size: 20px;
    margin: 0px 0px 20px 200px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}

.middle-section__ttl{
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 30px;
    color: rgb(102, 101, 101)
}

.gridcontaner{
    margin-left: 200px;
    font-size: 30px;
    color: #fff;
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 1fr 1fr;
}

.left-griditem{
    grid-column: 1/2;
    grid-row: 1/3;
    background: #ba2989;
    
}
.left-griditem img{
    width: 30%;
    margin: 30px 0px 0px 250px ;
}

.griditem__ttl{
    text-align: center;
}
.l-griditem__txt{
    padding: 4% 6%;
    font-size: 40px;
    line-height: 50px;
}

.rightup-griditem{
    grid-column: 2/3;
    grid-row: 1/2;
    background: #e234a8;
    
}

.rightup-griditem{
    display: flex;
    justify-content: flex-start;
}

.rightup-griditem img{
    width: 10%;
}


.rightdwn-griditem{
    grid-column: 2/3;
    grid-row: 2/3;
    background: #f96ecb;
    
}
.rightdwn-griditem img{
    width: 10%;
    
}



/*ここまでServiceここからBlog↓*/
.middle-dwn-article__before-ttl {
    font-size: 20px;
    margin: 0px 0px 20px 200px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}

.middle-dwn-article__ttl{
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 30px;
    color: rgb(102, 101, 101)
}

.flex___item-wrap{
    margin-bottom: 100px;
}

.flex___item-wrap img{
    width: 40%;
    display: flex;
    justify-content: center;
}

.practice__card {
    width: 30%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.card__cat{
    padding: 5px 10px;
    background: #ab2774;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.card__date {
    display: inline-block;
    margin-left: 20px;
    color: #888888;

}

.card__tag {
    display: inline-block;
    margin-left: 20px;
    color: #888888;
}

.middle-dwn-active__btn{
    font-size: 20px;
    color: #d723ad;
    background-color: #fff;
    border: 2px solid #d723ad;
    margin: 0 300px 500px 700px;
    text-align: center;
}


a.btn--radius {
    border-radius: 100vh;
}
/*ここまでBlogここからCompany↓*/
.bottom-section__before-ttl {
    font-size: 20px;
    margin: 150px 0px 20px 200px;
    color: rgb(251, 58, 10);
    font-family: 'Nanum Pen Script', cursive;
}

.bottom-section__ttl {
    font-size: 30px;
    margin: 0px 0px 100px 200px;
    color: rgb(102, 101, 101)
}

.line__item-wrap{
    margin: 0px 0px 100px 200px;
}

.bottom-section__txt  {
    font-size: 40px;
    text-align: left;
    border-width: 1px solid rgb(98, 99, 100);
    
}

.bottom-article__links{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.bottom-article__l-img{
    width: 100%;
    position: relative
}

.bottom-article__l-txt{
    font-size: 50px;
    position: absolute;
    left: 30%;
    top: 35%;
}

.bottom-article__r-txt img{
    width: 100%;
    position: relative;
}
.bottom-article__r-txt{
    font-size: 50px;
    position: absolute;
    left:30%;
}


/*ここまでCompanyここからContact-footer↓*/
.footer__top {
    height: 400px;
    text-align: center;
}

.footer__tt {
    font-size: 30px;
    margin-bottom: 20px;
}

.line__m {
    border-left:10px solid #000;
    padding: 50px 10px;
    margin: 0px 750px 50px;
}

.footer__btn {
    font-size: 200%;
    color:#FFFFFF
    width:200%;
    padding: 40px 140px;
    max-width: 100%;
    background-color: rgb(217, 62, 170);
    border-radius: 100px;
    box-shadow: 0px 5px 5px #000;
}

.footer__bottom{
    text-align: center;
    height: 30px;
}

